@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

body {
  font-family: "PT Sans", sans-serif;
  font-size: 22px;
  line-height: 26px;
  color: #333333;
  background-color: #F2F2F2;
}

.page-header {
  background-color: #FFFFFF;

}

.main-navigation-list a,
.user-navigation-list a {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  text-align: center;
  color: #000000;
  background-color: #FFFFFF;
  text-decoration: none;
}

.user-navigation-favorites .favorites-amount {
  font-size: 10px;
  line-height: 10px;
  text-align: center;
  color: #FFFFFF;
  background-color: #7DB54F;
}

.button {
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-align: center;
  color: #FFFFFF;
  background-color: #756157;
  text-transform: uppercase;
}

.main-inner {
  background-color: #FFFFFF;
}

.hero {
  width: 1200px;
  min-height: 485px;
  margin: 0 auto;

  text-align: center;

  color: #FFFFFF;
  background-color: #3F5E72;
  background-image: url("../images/index/hero-divider.svg"), url("../images/index/hero-background.jpg");
  background-repeat: no-repeat;
  background-position: center bottom, center;
}

.advantages {
  text-align: center;
}

.advantages-about-sedona {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: #000000;
}

.advantages-title {
  font-weight: 400;
}

.advantages-subtitle {
  color: #000000;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
}

.advantages-description {
  font-size: 18px;
  line-height: 21px;
}

.advantages-item {
  background-color: rgba(131, 179, 211, 0.12);
}

.advantages-background-bright {
  color: #FFFFFF;
  background-color: #82B3D3;
}

.advantages-background-bright .advantages-subtitle {
  color: inherit;
}

.advantages-background-muted {
  background-color: rgba(131, 179, 211, 0.2);
}

.advantages-background-white {
  background-color: #FFFFFF;
}

.hotel-search {
  text-align: center;
}

.hotel-search-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
}

.hotel-search-button {
  font-size: 20px;
  line-height: 36px;
}

.page-footer {
  background-color: #FFFFFF;
}

.subscribe {
  width: 1200px;
  min-height: 415px;

  text-align: center;
  color: #FFFFFF;

  background-color: #3F5E72;
  background-image: url("../images/footer/footer-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.subscribe-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
}

.subscribe-input-email::placeholder {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
  opacity: 60%;
}

.button-blue {
  color: #FFFFFF;
  background-color: #82B3D3;
}

.subscribe-button {
  font-size: 16px;
  line-height: 36px;
}

.contacts-phone-number {
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  color: #000000;
}
